@import url('https://fonts.googleapis.com/css?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ramaraja&display=swap');


body {
  font-family: 'Raleway';
  font-size: 14px;
}

section {
margin-top: 30px;
}

.container-fluid {
  padding: 30px 0 0 0 ;
  max-width: 1200px;
  margin: auto;
}

#name {
  text-align: left;
  vertical-align:bottom;
  float: left;
}


.h2, h2{
  font-family: 'Ramaraja';
  font-size: 24px;
	font-weight: bold;
}

h2 #h2link{
  font-size: 14px;
  background-image: none;
}

a {
  color: #3B683A;
  background-image: -webkit-linear-gradient(top, #3B683A 0, #3B683A 100%);
  background-image: linear-gradient(to bottom, #3B683A 0, #3B683A 100%);
  background-repeat: repeat-x;
  background-size: 0.12rem 0.12rem;
  text-decoration: none;
  text-shadow: 3px 0 #fff, 2px 0 #fff, 1px 0 #fff, -1px 0 #fff, -2px 0 #fff, -3px 0 #fff;
  background-position: 0 .95rem;
}

b {
  font-weight: 900;
}


a:focus, a:hover {
  color: #223D79; 
  background-image: -webkit-linear-gradient(top, #223D79 0, #223D79 100%);
  background-image: linear-gradient(to bottom, #223D79 0, #223D79 100%);

}

a#name{
  color: #000000;
  background-image: none;
  text-shadow: none;
}

a#name:hover{
  color: #195B17;
	text-decoration: none;
}

#logos {
float: right;
padding-bottom: 10px;
margin-top: 0px;
}

#logos img{
  height: 100px;
}

.nav li a {
  word-wrap: break-word;
  text-transform: uppercase;
  font-size: .75rem;
  letter-spacing: 2px;
  padding: 0;
  color: #999 ;
  text-shadow: none;
}


#content{
  padding-top: 20px;
}

#name h1{
  font-family: 'Ramaraja';
  line-height: normal;
  letter-spacing: 1px;
  vertical-align:bottom;
  margin: 0;
  font-size: 52px;
  font-weight: 600;
  color: #195B17;
}

#name h2{
  line-height: normal;
  margin: 0;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;

  font-weight: 300;
  color: #999;
}

#post h1{
  font-family: 'Ramaraja';
  font-size: 72px;
}

#post h2{
  font-size: 16px;
}

footer{
  padding: 50px 0;
  color: #aaa;
  font-size: 12px;
  clear:both;
  text-align: center;
}

.news-item{
  margin-top: 5px;
  margin-bottom: 10px;
}

[id$=-ref]{
  font-weight: 800;
  letter-spacing: 0px;
}

.news ul {
  list-style: none;
}

.newslist li{
  margin: 10px 0;
}

.news_date{
  text-transform: uppercase;
  color: #999;
  letter-spacing: 2px;
  font-size: 12px;
  margin-bottom: 5px;
}

.news_text{
    font-size: 14px;
}

#news-item{
  margin-bottom: 7px;
}

.footer {
  padding-top: 19px;
  color: #777;
  text-align: center;
  font-size: 0.8em;
  margin: 0.1em 0;
}

#post #date {
  line-height: normal;
  margin-top: -5px;
  padding-bottom: 10px;
  font-weight: 300;
  color: #999;
  letter-spacing: 1px;
  font-size: 12px;
}

#cv h2 {
  color: #748076;
  letter-spacing: 1px;
  font-size: 18px;
	font-weight: 900;
}

#cv h3{
    font-size: 15px;
font-weight: 600;
}

#cv .venue{
  font-style: italic;
}

span.title{
  font-weight: 800;
}
span.authors a{
  background-image: none;
  text-decoration: none;
  text-shadow: none;
}
